{% for obj in object_list %}
    <div class="sneakers">
        <a href="/sneakers/{{ obj.id }}/">

            <div class="sneakers-image">
                <img src="/media/{{ obj.first_image }}" height="200">
            </div>
            <div class="title">
                Кросівки {{ obj.brand }} {{ obj.model }} <br>
                Ціна: {{ obj.price }} грн.
            </div>
            <div class="sizes">
                {% if obj.sneakers_size.all|length == 1 %}
                <span>Розмір</span>
                {% elif obj.sneakers_size.all|length > 1 %}
                <span>Доступні розміри</span>
                {% else %}
                <span>Товар закінчився</span>
                {% endif %}
                {%  for size in obj.sneakers_size.all %}
                    <span>{{ size.size }}   </span>
                {% endfor %}
            </div>
        </a>
    </div>
{% endfor %}
