body {
    padding-top: 70px;
    background: #dedede;
}

nav {
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
}

.navbar-brand {
    font-family: 'Pacifico', cursive;
}


.social-btns li {
    display: inline;
}

#slider {
    margin: 50px;
    height: 400px;
    box-shadow: 2px 3px 5px rgba(0, 0, 50, 0.5);
}
.title {
    margin: 10px;
    font-size: 11pt;
}

.sizes {
    margin: 10px;
    font-size: 10pt;
}
.sneakers {
    display: inline-block;
    margin: 10px 10px 25px 10px;
    border: 1px solid #ccc;
    transition-property: all;
    transition-duration: .2s;
    transition-timing-function: ease-in-out;
}

.sneakers a {
    color: #000;
    font-family: 'Droid Serif', serif;
}

.sneakers:hover {
    border: 1px solid orange;
    box-shadow: 2px 5px 5px rgba(255, 165, 0, 0.5);
    cursor: pointer;
}

.sneakers a:hover {
    text-decoration: none;
}
.content {
    margin: 50px 0;
    padding: 50px 0;
    min-height: 300px;
    background: #f0f0f0;
}