body {
    padding-top: 70px;
    background: #dedede;
}

nav {
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.navbar-brand {
    font-family: 'Pacifico', cursive;
}


.social-btns li {
    display: inline;
}

#slider {
    margin-top: 30px;
    height: 400px;
    box-shadow: 2px 3px 5px rgba(0, 0, 50, 0.5);
}

.sneakers {
    display: inline-block;
    margin: 10px 10px 25px 10px;
    border: 1px solid #ccc;
    transition-property: all;
    transition-duration: .2s;
    transition-timing-function: ease-in-out;
}

.sneakers:hover {
    border: 1px solid orange;
    box-shadow: 2px 5px 5px rgba(255,150,0,0.5);
    cursor: pointer;
}

.sneakers a:hover {
    text-decoration: none;
}
.content {
    margin-top: 20px;
    min-height: 300px;
}