{% extends "base.html" %}

{% block content %}
<div class="texts">
    <div class="about">
        Наш інтернет-магазин <span class="brand">"Sport People"</span>
            пропонує широкий вибір оригінального спортивного взуття, доставленого з Європи.
        <br>
        Для постійних клієнтів діє система знижок. <br>
        Також діє гнучка система для оптових покупців. <br>
        В нас ви можете знайти взуття чоловіче та жіноче таких світових брендів Adidas, Nike, Puma, Reebok, NB.
        <br>

    </div>
</div>
{% endblock %}
