{% load staticfiles %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE%}

<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{% static 'bootstrap-3.3.6/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap-social-gh-pages/bootstrap-social.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap-social-gh-pages/assets/css/font-awesome.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif' rel='stylesheet' type='text/css'>
    <script src="{% static 'js/jquery-1.12.1.min.js' %}"></script>
    <script src="{% static 'js/slides.js' %}"></script>
    <script src="{% static 'js/events.js' %}"></script>
    <script src="{% static 'bootstrap-3.3.6/js/bootstrap.min.js' %}"></script>
    <script>
    $(function(){
        $("#slides").slides(); // контейнер с элементами слайдера
    });
    </script>
</head>
<body>

<div class="container">
    <div id="header">
        <div class="container-fluid">
            <div class="row">
                <div class="social-btns col-md-offset-10">
                    <ul>
                        <li><a href="http://facebook.com" class="btn btn-social-icon btn-facebook"><span class="fa fa-facebook"></span></a></li>
                        <li><a href="http://vk.com" class="btn btn-social-icon btn-vk"><span class="fa fa-vk"></span></a></li>
                        <li><a href="http://instagram.com" class="btn btn-social-icon btn-instagram"> <span class="fa fa-instagram"></span></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="navbar navbar-inverse" role="navigation">
        <div class="container">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand brand" href="/">Sport People</a>
                </div>
                <div class="navbar-collapse collapse ">
                    <ul class="nav navbar-nav">
                        <li {% if request.path == '/' %} class="active" {% endif %}><a href="/">Головна</a></li>
                        <li {% if request.path == '/catalog/' %} class="active" {% endif %}><a href="/catalog/">Каталог</a></li>
                        <li {% if request.path == '/delivery/' %} class="active" {% endif %}><a href="/delivery/">Доставка</a></li>
                        <li {% if request.path == '/about/' %} class="active" {% endif %}><a href="/about/">Про нас</a></li>
                        <li {% if request.path == '/contacts/' %} class="active" {% endif %}><a href="/contacts/">Контакти</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-12 hidden-xs">
        <div class="carousel slide" id="carousel">
            <div class="carousel-inner" id="promo-slider">

            </div>
        </div>
    </div>

</div>
<div class="content">
    {% block content %}{% endblock %}
</div>
<div class="" id="footer">
    <div class="col-lg-offset-2 col-lg-8">
        <div class="col-lg-6">
            <div class="">
                <div class="brand"><a href="/">Sport People</a></div>
                <div id="footer-shop-info">&copy; 2016, інтернет-магазин спортивного взуття "Sport People"</div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="footer-social-info">
                Ми в соцмережах
            </div>
            <div class="social-btns">
                <ul>
                    <li><a href="http://facebook.com" class="btn btn-social-icon btn-facebook"><span class="fa fa-facebook"></span></a></li>
                    <li><a href="http://vk.com" class="btn btn-social-icon btn-vk"><span class="fa fa-vk"></span></a></li>
                    <li><a href="http://instagram.com" class="btn btn-social-icon btn-instagram"> <span class="fa fa-instagram"></span></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

</body>
</html>
