{% load staticfiles %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE%}

<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name='yandex-verification' content='596f76198a8f9239'/>
    <meta name = "description" content = "Інтернет-магазин спортивного взуття Sport People.
     Ми пропонуємо широкий вибір оригінального спортивного взуття таких світових брендів:
     Adidas, Nike, Puma, Reebok. Існують знижки постійним клієнтам, а також вигідні пропозиції отповим покупцям.
     {% block meta_description %}{% endblock %}" />
    <meta name = "keywords" content = "кросівки оригінал, інтернет-магазин,
    Sport People, Adidas, Nike, Puma, Reebok, Україна, Івано-Франківськ,
    знижки постійним покупцям, оптова торгівля, вигідні ціни на оригінальні кросівки,
    {% block meta_keywords%}{% endblock %}" />
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{% static 'bootstrap-3.3.6/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap-social-gh-pages/bootstrap-social.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap-social-gh-pages/assets/css/font-awesome.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif' rel='stylesheet' type='text/css'>
    <link href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css"
    rel="stylesheet" type="text/css" />
    <script src="{% static 'js/jquery-1.12.1.min.js' %}"></script>
    <script src="{% static 'js/events.js' %}"></script>
    <script src="{% static 'bootstrap-3.3.6/js/bootstrap.min.js' %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js" type="text/javascript"></script>
    <script src="http://malsup.github.io/jquery.form.js" type="text/javascript"></script>

</head>
<body>

<div class="container">
    <div id="header">
        <div class="container-fluid">
            <div class="row">
                <div class="delivery-info">
                    <span>Доставка по Україні безкоштовно!</span>
                </div>
                <div class="title-info">
                    <span class="brand">Sport People</span> <br>
                    <span>Інтернет-магазин спортивного взуття </span>
                </div>
                <div class="contact-info">
                    <span>Телефон для замовлення та співпраці:</span> <br>
                    <span>+380 99 369 59 79</span>
                </div>
                <div class="social-btns col-md-offset-10">
                    <ul>
                        <li><a href="https://www.facebook.com/sport.people123/" class="btn btn-social-icon btn-facebook"><span class="fa fa-facebook"></span></a></li>
                        <li><a href="http://vk.com/sport_people_123" class="btn btn-social-icon btn-vk"><span class="fa fa-vk"></span></a></li>
                        <li><a href="https://www.instagram.com/sport_people123/" class="btn btn-social-icon btn-instagram"> <span class="fa fa-instagram"></span></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="navbar navbar-inverse" role="navigation">
        <div class="container">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand brand" href="/">Sport People</a>
                </div>
                <div class="navbar-collapse collapse ">
                    <ul class="nav navbar-nav">
                        <li {% if request.path == '/' %} class="active" {% endif %}><a href="/">Головна</a></li>
                        <li {% if request.path == '/catalog/' %} class="active" {% endif %}><a href="/catalog/">Каталог</a></li>
                        <li {% if request.path == '/delivery/' %} class="active" {% endif %}><a href="/delivery/">Доставка</a></li>
                        <li {% if request.path == '/about/' %} class="active" {% endif %}><a href="/about/">Про нас</a></li>
                        <li {% if request.path == '/contacts/' %} class="active" {% endif %}><a href="/contacts/">Контакти</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    {% block slider %}
    {% include 'slider.html' %}
    {% endblock %}
</div>
<div class="content">
    {% block content %}{% endblock %}
</div>
<div class="" id="footer">
    <div class="col-lg-offset-2 col-lg-8">
        <div class="col-lg-6">
            <div class="">
                <div class="brand"><a href="/">Sport People</a></div>
                <div id="footer-shop-info">&copy; 2016, інтернет-магазин спортивного оригінального  взуття "Sport People"</div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="footer-social-info">
                Ми в соцмережах
            </div>
            <div class="social-btns">
                <ul>
                    <li><a href="https://www.facebook.com/sport.people123/" class="btn btn-social-icon btn-facebook"><span class="fa fa-facebook"></span></a></li>
                    <li><a href="http://vk.com/sport_people_123" class="btn btn-social-icon btn-vk"><span class="fa fa-vk"></span></a></li>
                    <li><a href="https://www.instagram.com/sport_people123/" class="btn btn-social-icon btn-instagram"> <span class="fa fa-instagram"></span></a></li>
                </ul>
            </div>
        </div>

    </div>
    <div class="col-lg-offset-2 col-lg-8">
        <span class="number">
            +380 99 369 59 79
        </span>
    </div>
</div>

</body>
</html>
