{% extends "base.html" %}
{% block meta_description %}Інформація про нас для зв’язку.{% endblock %}
{% block meta_keywords %}контактна інформація, замовлення за номером{% endblock %}
{% block content %}
<div class="texts">
    <div class="contacts">
        Мобільний телефон для зв’язку: +380 99 369 59 79 (Viber, WhatsApp)<br>
        Замовлення здійснюються з понеділка по суботу з 10:00 до 20:00. <br>
        Також з нами можна зв’язатися в соціальних мережах.
        Ми знаходимося в м.Івано-Франкіськ, Україна. <br>
    </div>
</div>
{% endblock %}
