{% extends 'base.html' %}
{% block meta_description %}Доставка наших товарів.{% endblock %}
{% block meta_keywords %}доставка, кур’єрська служба, безкоштовна доставка, наложним плетежем{% endblock %}
{% block content %}
<div class="texts">
    <div class="delivery">
        Доставка по Україні здійснюється кур’єрською службою "Нова Пошта".
        <br>
        Відправка товару здійснюється як наложним платежем так із повною передоплатою.
        <br>
        Жителі міста Івано-Франківськ можуть отримати своє замовлення додому за допомогою кур’єрської служби.
        <br>
    </div>
</div>
{% endblock %}
